body {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

h1{margin: 0; padding: 10 0;}
h2{margin: 0; padding: 10 0;}
h4{margin: 0 0; padding: 5px 0;}
p{margin: 0; padding: 10 0;}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 100%;
    height: 300px;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.header_photo{
    text-align: center;
}

.header_photo img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: baseline;
    position: relative;
    column-gap: 100px;
    padding: 20px 0;
}
/* INFO */
.content_info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.content_info p{
    display: flex;
    padding: 10px 0;
}
.content_info p img {
    width: 20px;
    padding: 0 10px;
}

/* ABOUT */
.content_about {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.content_about h3, .content_software h3, .content_refer h3, .content_experience h3, .content_education h3 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.content_about p, .content_experience p{
    text-align: justify;
}



/* PROGRAMAS */
.content_software {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.content_software h3{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.content_software p{
    display: flex;
    justify-content: space-between;
}
.content_software span span{
    padding: 0 0 0 15px;
}
.checked {
    color: #bebebe;
  }

/* REFERENCIAS */
.content_refer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
.content_refer h3{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.content_refer p img {
    width: 20px;
    padding: 0 10px;
}

.content_refer p{
    padding: 5px 0;
}

/* EXPERIENCIA LABORAL */
.content_experience {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.experience-info{
    display: flex;
    align-items: baseline;
    margin: 20px 0;
}

.text-gray{color: #bebebe; font-size: .9em;}


/* EDUCACIÓN */
.content_educaction {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
.education-info{
    display: flex;
    margin: 20px 0;
}
.education_data{margin-right: 20px;}


